.nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev {
    order: -1
}

.heading {
    margin: 1rem 0;
    text-align: center;
}

.listView ul {
    padding: 0
}

.listEntry {
    list-style: none;
    margin-bottom: 1rem;
    box-shadow: rgba(0,0,0,.25) 1px 1px 3px;
}

.listEntry a {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid var(--text-color);
    overflow: hidden;
}

.listEntry:nth-child(5n-4) a:hover {
    background: var(--red);
}

.listEntry:nth-child(5n-3) a:hover {
    background: var(--green);
}
.listEntry:nth-child(5n-2) a:hover {
    background: var(--blue);
}
.listEntry:nth-child(5n-1) a:hover {
    background: var(--purple);
}
.listEntry:nth-child(5n) a:hover {
    background: var(--yellow);
}

.listEntry a div {
    padding: 1rem 1rem 1rem 2rem;
    width: 100%;
    text-align: center;
}

.listEntry img {
    width: 200px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,.25) 1px 1px 3px;
}

@media (min-width: 600px) {
    .listEntry a {
        justify-content: stretch;
    }

    .listEntry a div {
        width: auto
    }
}