:root {
    --red: rgb(240, 80, 70);
    --red-alpha: rgba(240, 80, 70, 0.5);
    --green: rgb(117, 184, 67);
    --green-alpha: rgba(117, 184, 67, 0.5);
    --blue: rgb(0, 160, 222);
    --blue-alpha: rgba(0, 160, 222, 0.5);
    --purple: rgb(202, 79, 151);
    --yellow: rgb(249, 177, 35);
    --yellow-alpha: rgb(249, 177, 35, 0.5);
    --text-color: rgb(30, 30, 30);
    --breakpoint: 600px
}

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    color: var(--text-color)
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.fullWindow {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.loader {
    border-top: 16px solid var(--blue);
    border-right: 16px solid var(--yellow);
    border-bottom: 16px solid var(--red);
    border-left: 16px solid var(--green);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 1rem auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}